profiles {
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = 'nextflow8'
            // Resource requests per job
            cpus = 4
            memory = '10.GB'
            time = '4h'
            stageInMode = 'skip'
            stageOutMode = 'copy'
        }

        workDir = 's3://aws-batch-input-bioinformatics/work'

        aws { 
            region = 'us-east-1'
        }

    }
}